/* Remove margin from body*/
body {
    margin:0;
    font-family: 'Poppins', sans-serif;
}

/* Style title of page */
div.dark-region h1 {
    font-size:7vw;
    line-height:20px;
    font-weight:bold;
    margin: 0px;
    padding-top: 60px;
}

/* Style text in top of page */
div.dark-region p {
    font-size:20px;
    line-height:20px;
    padding-top: 30px;
}


/* Header/Blog Title */
.dark-region {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
}

* {
    box-sizing: border-box;
  }  

.dark-region-bottom {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    
    top: 80%;
    left: 35%;
    /*transform: translate(-50%, -50%);*/
    z-index: 2;
    width: 30%;
    padding: 2px;

    text-align: center;
    transition: all .2s ease-in-out;
}

.dark-region-bottom:hover {
    transform: scale(1.1);
}


.bg-image {
    /* Add the blur effect */
    display: block;
    background-repeat: no-repeat;
    text-align:center;
    color: white;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#myContainer{
 background-color: rgb(40, 40, 40);
}

.logo {
    width: 40px;
    height: 40px;
    float:left;
}
/*Style the top navigation bar*/
.topnav {
    overflow:hidden;
    top: 0;
    font-size: 20px;
    background-color:rgb(40, 40, 40);
}

.together {
    font-weight: bold;
    color:rgb(255, 30, 30);
}

/* Style the top navigation links */
.topnav a {
    float:right;
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */

    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;

    
}
.title {
    background-image: linear-gradient(rgb(255, 30, 30),rgb(255, 30, 30));
}
.features {
    background-image: linear-gradient(rgb(30, 255, 30),rgb(30, 255, 30));
}
.pricing {
    background-image: linear-gradient(dodgerblue,dodgerblue);
}
.team {
    background-image: linear-gradient(rgb(173, 30, 255),rgb(173, 30, 255));
}
/* Change navigation link color at mouse hover*/
.topnav a:hover {
    background-color: #ababab;
    color:black;
    cursor: pointer;
    background-size: 100% 5px, auto;


}

/*Style the bottom navigation bar*/
.botnav {
    overflow:hidden;
    background-color:rgb(40, 40, 40);
    width: 100%;
    font-size: 20px;
    bottom: 0;
}

/* Style the bottom navigation links */
.botnav a {
    float:left;
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    font-size: 15px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */

    background-image: linear-gradient(rgb(255, 30, 30),rgb(255, 30, 30));
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

/* Style all font awesome icons */
.fa {
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

/* Change navigation link color at mouse hover*/
.botnav a:hover {
    background-color: #ababab;
    color:black;
    cursor: pointer;
    background-size: 100% 5px, auto;
}
