/* Remove margin from body*/
body {
    margin:0;
    font-family: 'Maven Pro', sans-serif;
}


/* Style title of page */
div.dark-region h1 {
    font-size:100px;
    line-height:20px;
    font-weight:bold;
    margin: 0px;
    padding-top: 80px;

}

/* Style text in top of page */
div.dark-region p {
    font-size:20px;
    line-height:20px;
    padding-top: 30px;
}
/* Header/Blog Title */
.dark-region {
    position: static;
    display: block;
    background-repeat: no-repeat;
    text-align:center;
    color: white;
    background-color: rgb(40, 40, 40);
    height: 90vh;
}

#myContainer{
    
}


/*Style the top navigation bar*/
.topnav {
    overflow:hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 20px;
    background-color:rgb(58, 58, 58);
}

/* Style the top navigation links */
.topnav a {
    float:left;
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;

    text-decoration: none;
}

/* Change navigation link color at mouse hover*/
.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color:black;
}

/* Current navigation link*/
.topnav a.current {
    background-color:rgb(105, 157, 253);
}

/*Style the bottom navigation bar*/
.botnav {
    overflow:hidden;
    background-color:rgb(58, 58, 58);
    width: 100%;
    font-size: 20px;
    bottom: 0;
}

/* Style the bottom navigation links */
.botnav a {
    float:left;
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
}

/* Style all font awesome icons */
.fa {
    font-size:22px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

/* Change navigation link color at mouse hover*/
.botnav a:hover {
    background-color: white;
    color:black;
}
